<div class="home-hero__container">
	<div class="row">
		<div class="col-12 col-lg-6 home-hero__video-column" data-cms-element-id="{{ id }}">
			<div class="home-hero__video-wrapper">
				<div class="cms-element-video">
                    <div class="cms-video-container">
						<video preload="yes" loop autoplay muted playsinline>
                    		<source src="{{ asset('bundles/thstarterplugin/videos/great_pumpkin_world_record.mov', 'asset') }}" type="video/mp4">
                    		{# <source src="{{ asset('bundles/thstarterplugin/videos/great_pumpkin_world_record.ogv', 'asset') }}" type="video/ogg"> #}
                    		<source src="{{ asset('bundles/thstarterplugin/videos/great_pumpkin_world_record.webm', 'asset') }}" type="video/webm">
                    		Your browser does not support the video tag.
                		</video>
                    </div>
            	</div>
				<div class="home-hero__badge-wrapper">
					<img class="home-hero__badge" src="{{ asset('bundles/thstarterplugin/gwr-logo.png', 'asset') }}">
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 home-hero__text-column" data-cms-element-id="{{ id }}">
			<div class="home-hero__text-wrapper">
				{% set element = block.slots.getSlot('subtitle') %}
				{# subtitle #}
				<div class="home-hero__text-subtitle">
					{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
				</div>
				{# title #}
				{% set element = block.slots.getSlot('title') %}
				<div class="home-hero__text-title">
					{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
				</div>
				{# paragraph #}
				{% set element = block.slots.getSlot('paragraph') %}
				<div class="home-hero__text-paragraph">
					{% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
				</div>
			</div>
			<img class="home-hero__ornament" src="{{ asset('bundles/thstarterplugin/pumpkin-ornament.png', 'asset') }}">
		</div>
		<div class="col-12 home-hero__bottom">
			<div class="row">
				<div class="col-lg-6 offset-lg-6">
					<div class="home-hero__text-animation">
						<span>
							{% sw_include '@ThStarterPlugin/storefront/block/icon-down-white.html.twig' %}
						</span>
						<span class="home-hero__text-animation-label">Shop the seeds</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# TODO: responsive, refactor, and styling #}
